h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

html{
  scroll-behavior: smooth;

}
/* ----------------------CSS for small screens---------------------- */
nav .fa-solid{
  display: none;
}
@media only screen and (max-width: 600px) {
  #header{
      background-image: url(Photo/phone-background.png);    
  }
  .header-text{
      margin-top: 100%;
      font-size: 16px;
  }
  .header-text h1{
      font-size: 30px;
  }
  nav .fa-solid{
      display: block;
      font-size: 25px;
  }
  nav ul{
      background: #132E35;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }
  nav ul li{
      display: block;
      margin: 25px;
  }
  nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
  .sub-title{
      font-size: 40px;
  }
  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }
  .about-col-1{
      margin-bottom: 1%;
  }
  .about-col-2{
      font-size: 14px;
  }
  .tab-links{
      font-size: 16px;
      margin-right: 38px;
  }
  .contact-left, .contact-right{
      flex-basis: 100%;
  }
  .copyright{
      font-size: 14px;
  }
  #about{
      padding: 20px;
      color: #ababab;
  }
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}




/*  ----------------------about---------------------- */

#about{
  padding: 80px;
  color: #ffffff;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 40%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;

}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li a{
  color: azure;
}
.tab-contents ul li a span{
  color: #202020;
  font-size: 14px;
}
.tab-contents ul li p{
  color: #ffffff;
}
.tab-contents ul li p span{
  color: #ffffff;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}